<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load static tailwind_tags %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistem Manajemen Perpustakaan Desa Bakaran Wetan">
    <meta name="keywords" content="sido mukti, sidomukti, manajemen perpustakaan, perpustakaan, bakaran wetan, kkn-t, ipb, ipb university, buku">
    <meta name="author" content="KKN-T IPB University PATIKAB06 Bakaran Wetan, Luqman Mohammad Hakim">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/c75057c9b4.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    {% block css %}{% endblock %}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body class="min-h-screen flex flex-col" {% block body_class %} {% endblock %}>

    {% if messages %}
    {% for message in messages %}
    <div style="width: 100%;">
        <div class="alert alert-warning alert-dismissible fade show z-50 w-4/5 md:w-1/2 left-1/2 -translate-x-1/2 top-5 fixed"
            role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="content flex-grow block min-h-screen">
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Footer -->
    <div
        class="foottag flex flex-col md:flex-row justify-evenly items-center gap-8 bg-purple-800 text-white py-12 min-h-[15rem] max-w-screen">
        <div class="img-cont block w-[30rem] md:transform md:-translate-x-20 max-w-screen">
            <img src="{% static 'img/kkntag.png' %}" alt="KKN-T" class="w-full object-contain block">
        </div>
        <div class="kkn-cont md:-transform md:-translate-x-20 text-center p-4">
            <p>KKN-T IPB University 2025 Bakaran Wetan</p>
            <div class="border-[.5px] border-white -mt-2 mb-2 w-full"></div>
            <h1 style="font-size: medium; font-weight: normal;">Sistem Manajemen Perpustakaan Sido Mukti Desa Bakaran Wetan</h1>
        </div>
        <div class="social-cont md:text-left space-y-1">
            <a href="https://www.instagram.com/bakaranwetan.kknliterasi" target="_blank" class="decoration-0">
                <p class="font-normal text-white"><i class="fa-brands fa-instagram"></i> bakaranwetan.kknliterasi</p>
            </a>
            <a href="https://www.tiktok.com/@bakaranwetan.kknliterasi" target="_blank" class="decoration-0">
                <p class="font-normal text-white"><i class="fa-brands fa-tiktok"></i> bakaranwetan.kknliterasi</p>
            </a>
            <p><i class="fa-solid fa-at"></i> kknpatikab06@gmail.com</p>
            <a href="{% url 'dev_page' %}" class="decoration-0 no-underline">
                <p class="font-normal text-white"><i class="fa-solid fa-code"></i> Developer</p>
            </a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block script %}{% endblock %}
</body>

</html>