{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/adm-login.css' %}">
{% endblock %}
{% block title %}Admin Login Page{% endblock title %}
{% block content %}
<nav>
    <a href="" class="logo">
        <img src="{% static 'img/component2.png' %}" width="70%">
    </a>
</nav>
<div class="container">
    <h3 class="title">Login as Admin</h3>
    <form action="{% url 'loginadm' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <br> <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <br> <br>
        <div class="submit">
            <input id="login" type="submit" value="Login">
            <a href="{% url 'online' file_root=1 %}">return</a>
        </div>
    </form>
</div>
{% endblock content %}