{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/styleon.css' %}">
{% endblock %}
{% block title %}Book Collection{% endblock title %}
{% block content %}
<nav>
    <div class="logo">
        <a href="/online/f/1">
            <img src="{% static 'img/component1.png' %}" , width="200px">
        </a>
    </div>

    <div class="search">
        <form method="GET" action="{% url 'searchon' %}">
            <input type="text" id="search" name="quest" value="{{query}}" placeholder="Cari di BookSelv">
            <button class="spy" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <div class="nav-right">
        <a href="{% url 'loginadm' %}" class="log">Manajemen Buku</a>

    </div>
</nav>
<div class="alls">
    <div class="tablecar">
        {% for i in infolder %}
        <div class="cardcover">
            <a href="/online/f/{{i.id}}">
                <div class="card" style="width: 11rem;">
                    <img class="card-img-top" src="{% static 'img/shelf.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title">{{i.folder_name}}</p>
                        <br> <br>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

        {% for i in infile %}
        <div class="cardcover">
            <a href="{% url 'book_detail' id=i.id %}">
                <div class="card" style="width: 11rem;">
                    {% if i.img %}
                    <img class="card-img-top" src="{{i.img.url}}" alt="{{i.title}}">
                    {% else %}
                    <img class="card-img-top" src="{% static 'img/book.png' %}" alt="{{i.title}}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-title">{{i.Title}}</p>

                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}