{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
{% endblock %}
{% block title %}Edit User Detail{% endblock title %}
{% block content %}
<nav>
    <a href="/online/f/1" class="logo">
        <img src="{% static 'img/bs1.png' %}" width="20%">
        <h3>BookSelv</h3>
    </a>
</nav>

<div id="overlay" class="overlay"></div>

<div class="container">
    <h3 class="title"`>Edit User detail</h3>
    <form action="{% url 'userpanel' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="uid" id="uid" value="{{user.pk}}">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="{{user.username}}">
        <br>
        <label for="cemail">E-mail</label>
        <input type="email" name="cemail" id="cemail" value="{{user.email}}">
        <br>
        <label for="cpass1">New Password</label>
        <input type="password" id="cpass1" name="cpass1">
        <br>
        <label for="cpass2">Reconfirm New Password</label>
        <input type="password" id="cpass2" name="cpass2">
        <br>

        <div class="inform">
            <div class="submit">
                <button id="register" type="button" class="open-filein" data-target="#fileform">Change</button>
            </div>

            <div class="popform" id="fileform">
                <div class="btn_cancel">
                    <button type="button" class="btn_cancel" data-target="#fileform">X</button>
                </div>
                <p style="color: #761EAE;">Are You Sure?</p>
                <input id="register" type="submit" value="Confirm">
            </div>
        </div>
    </form>
</div>

{% endblock content %}
{% block script %}
<script>
    const btns = document.querySelectorAll("[data-target]");
    const cls_btns = document.querySelectorAll(".btn_cancel");
    const overlay = document.getElementById("overlay");

    btns.forEach((btn) => {
        btn.addEventListener("click", () => {
            document.querySelector(btn.dataset.target).classList.add("active");
            if (overlay.className === "overlay") {
                overlay.className += "active";
            }
        });
    });

    cls_btns.forEach((btn) => {
        btn.addEventListener("click", () => {
            document.querySelector(btn.dataset.target).classList.remove("active");
            overlay.className = "overlay";
        });
    });
</script>
{% endblock %}